@charset "UTF-8";

body{
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rosybrown;   
    background-color: black;
}
h1{
    color: blueviolet;    
}
h2{
    color: gold;
}
p{
    color: darkcyan;
    text-align: justify;
}