@charset "utl-8";

table{
    border-collapse: collapse;
    text-align: center;
    width: 600px;
    
}

table td,th{
    border: 1px solid;
    padding: 10px;

    
}

thead,tfoot {
    background-color: rgba(128, 128, 128, 0.336);
    
}

td.num{
    text-align: right;
}