@charset "utl-8";

*{
    margin: 0;
    padding: 0;
}

caption{
    background-color:rgba(128, 128, 128, 0.151);
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    
    
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 600px;
    position: relative;
    
}

table td,th{
    border: 1px solid;
    padding: 10px;

    
}

thead,tfoot {
    background-color: rgb(128, 128, 128);
    
    
}

td.num{
    text-align: right;
}

tbody > tr:nth-child(even){
    background-color: rgb(255, 127, 127);
}

tfoot{
    height: 1000px;
}

thead{
    position: sticky;
    top: -1px;
}