@charset "UTF-8";
@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}

*{
margin: 0px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
}


.cabecalho{
    background-image: linear-gradient(to bottom, rgb(14, 161, 51), rgb(6, 61, 20));
    text-align: center;
    color: white;
    box-shadow: 2px 2px 5px rgba(2, 22, 7, 0.589);
}

.titulo{
    padding: 10px;
    font-weight: 100;
    font-size: 30px;

}

header>p{
    padding: 10px;
    color: rgba(255, 255, 255, 0.788);
    
}

.navegacao{
    text-align: left;
    padding: 5px 5px 5px 15px;
    
}

nav>a{  
    text-decoration: none; 
    color: rgba(255, 255, 255, 0.788);
    font-size: 13px;
    padding: 5px; 
}

nav>a:hover{
    background-color:rgb(14, 161, 51) ;
    color: rgb(9, 87, 29);
    border-radius: 3px;
     
}

main{
    background-color: rgba(94, 224, 185, 0.582);
}

section{
    background-color: white;
    width: 800px;
    margin: auto;
    box-shadow:2px 2px 5px rgba(37, 88, 73, 0.322);
    border-radius: 2px;
    padding: 20px 20px 20px 20px;
     
}


h2{
   font-family: android;
   color: rgb(6, 61, 20);
   font-size: 26px;
   margin-bottom: 12px; 
}

h3{
    font-family: android;
    color: rgb(6, 61, 20); 
    font-size: 20px;
    margin-bottom: 12px;   
}

.sessao-video{
    background-color: rgb(1, 65, 1);
    padding: 0px;
    margin: 0px;
   
}

.video{
    padding: 20px;
    margin: auto
}

header>h3{
    color: white;
    background-color: rgb(11, 134, 11);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    font-size: 16px;
    padding: 4px;
    margin-top: 10px;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 0px;

}

.lista{
    background-color:rgb(190, 250, 190) ;
    border-radius: 0px 0px 6px 6px;
}

.lista>p{
    margin-top: 0px;
    padding-top: 10px;
}
p{
 margin: 5px;
 text-indent: 25px;
}

footer{
    background-color:rgb(1, 65, 1) ;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 3px;
   
}

.inferior{
    padding: 0px;
    box-shadow: none;
    border-radius: 0px 0px 5px 5px;
}