@charset "UTL-8";

*{
    margin: 0;
    padding: 0;
}

main{
    font-family: Cursive, Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    height: 25vh;
}

header h1{
    padding-top: 8vh;
    font-size: 2.7em;
}

header p{
    padding-top: 10px;

}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
}

p{
    padding: 10px;
}

